.layout {
    width: 100%;
    height: auto;
    padding: 64px 165px 0 165px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div.logo{
    background-image: radial-gradient(#E7816B, #fff);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.company-name {
    text-decoration: none;
    text-transform: uppercase !important;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    font-size: 23px;
    line-height: 25px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333136 !important;
    text-transform: uppercase !important;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
}

.link-light{
    color: #fff !important;
}

/* Footer styles */
.footer{
    background-color: #1D1C1E;
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    padding: 7% 5%;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}